---
layout: archive
title: " "
permalink: /portfolio/
author_profile: true
---

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

<style>
    .container {
        display: flex;
    }
    .column1 {
        width: 30%; /* 50% 宽度 */
    }
    .column2 {
        width: 30%; /* 30% 宽度 */
    }
    .column3 {
        width: 30%; /* 30% 宽度 */
    }
    .column4 {
        width: 10%; /* 30% 宽度 */
    }
    .image {
            max-width: 100%; /* 使图片自适应列宽 */
            height: auto; /* 保持图片比例 */
            margin-bottom: 10px; /* 修改这个值来调整行间距 */
          }
    .p {line-height:1.5;}
</style>

<h1>The 2023-2024 Hefei 100km New Year's Hiking</h1>

<div class="container">
    <div class="column1">
      <img src="../images/20231231_01.jpg" alt="暂无图片" class="image">
    </div>
    <div class="column2"><ul>
      <img src="../images/20231231_02.jpg" alt="暂无图片" class="image">
    </div>
    <div class="column3"><ul>
      <img src="../images/20231231_03.jpg" alt="暂无图片" class="image">
    </div>
  
</div>

        


