---
layout: archive
title: " "
permalink: /portfolio/
author_profile: true
---

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

<style>
    .container {
        display: flex;
    }
    .column1 {
        width: 15%; /* 50% 宽度 */
    }
    .column2 {
        width: 85%; /* 30% 宽度 */
    }
    .image {
            max-width: 100%; /* 使图片自适应列宽 */
            height: auto; /* 保持图片比例 */
          }
</style>

<h1>Master's Student</h1>

<div class="container">
    <div class="column1">
      <img src="../images/xyu.jpg" alt="示例图片" class="image">
    </div>
    <div class="column2"><ul>
      <li>Xin Yu (2022-2025)</li>
      <ul>
        <li>Email: xiny@stu.ahu.edu.cn</li>
        <li>Graduate From: Anhui University</li>
      <ul>
          <ul>
    </div>
</div>

<div class="container">
    <div class="column1">
      <img src="../images/qhuang.jpg" alt="示例图片" class="image">
    </div>
    <div class="column2"><ul>
      <li>Qing Huang (2022-2025)</li><ul>
      <li>Email: huangqing@stu.ahu.edu.cn</li>
      <li>Graduate From: Anhui Science and Technology University</li><ul><ul>
    </div>
</div>
        
<div class="container">
    <div class="column1">
      <img src="../images/.png" alt="示例图片" class="image">
    </div>
    <div class="column2"><ul>
      <li>Zhoubin Zhang (2022-2025)</li><ul>
      <li>Email: @stu.ahu.edu.cn</li>
      <li>Graduate From: Anhui University of Science and Technology </li><ul><ul>
    </div>
</div>
        
<div class="container">
    <div class="column1">
      <img src="../images/.png" alt="示例图片" class="image">
    </div>
    <div class="column2"><ul>
      <li>Yongxiang Fu (2023-2026)</li><ul>
      <li>Email: @stu.ahu.edu.cn</li>
      <li>Graduate From: Hefei Normal University</li><ul><ul>
    </div>
</div>
        
<div class="container">
    <div class="column1">
      <img src="../images/.png" alt="示例图片" class="image">
    </div>
    <div class="column2"><ul>
      <li>Weizhen Wang (2023-2026)</li><ul>
      <li>Email: @stu.ahu.edu.cn</li>
      <li>Graduate From: Mudanjiang Normal University</li><ul><ul>
    </div>
</div>
       
<div class="container">
    <div class="column1">
      <img src="../images/.png" alt="示例图片" class="image">
    </div>
    <div class="column2"><ul>
      <li>Renyi Wang (2024-2027)</li><ul>
      <li>Email: @stu.ahu.edu.cn</li>
      <li>Graduate From: Anhui University</li><ul><ul>
    </div>
</div>
        
<div class="container">
    <div class="column1">
      <img src="../images/.png" alt="示例图片" class="image">
    </div>
    <div class="column2"><ul>
      <li>Ru Chen (2024-2027)</li><ul>
      <li>Email: @stu.ahu.edu.cn</li>
      <li>Graduate From: Anhui University</li><ul><ul>
    </div>
</div>
