---
layout: archive
title: " "
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<!-- {% for post in site.teaching reversed %}
{% include archive-single.html %}
{% endfor %} -->

<h1>Undergraduate</h1>
  
<p>Automation 2021 (Operation), 2023-2024 Semester 2</p>
<p>Automation 2020 (Operation), 2022-2023 Semester 2</p>

<h1>Graduate</h1>
<p>Control Science and Engineering 2023 (Optimization Theory & Methods), 2023-2024 Semester 1</p>
<p>Control Science and Engineering 2022 (Optimization Theory & Methods), 2022-2023 Semester 1</p>

<h1>Ph.D. Candidate Lecture</h1>
<p>Electrical Engineering 2022, 2023, Research Foundation and Several Advances in Distributed Optimization<p>
